<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container-fluid py-2 px-3">
        <a class="navbar-brand" href="#">MasoodAslami</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>