<div class="intro-box animate__animated animate__backInRight">
    <div class="row gx-0">
        <div class="col-md-8 mx-auto">
            <h5>Web Developer</h5>
            <h1>Masood Aslami</h1>
            <p>
                Creative, results driven technology manager with over 10 years of experience in Web development, 
                Database development, Mobile application development, I am a problem-solver with a passion for
                programming; skilled in grasping the big picture, conceptualizing, developing and implementing
                solutions.
            </p>
            <button class="btn btn-outline-secondary me-2">Download CV</button>
            <button class="btn btn-outline-secondary">Hire me</button>
        </div>
    </div>
</div>